<!-- Check in with this, not displaying errors -->
<!-- here's another one -->
<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error.full_message %></li>
  <% end %>
  <ul>
<% end %>
