<div class="col-sm-4 col-sm-offset-4">
  <h1>Login</h1>
  <hr />
  <form action="/login" method="post">
    <input class="form-control" type="email" name="email" placeholder="Email" />
    <input class="form-control" type="password" name="password" placeholder="Password" />
    <input class="btn btn-primary" type="submit" value="Login" />
  </form>
</div>
