<div class="col-sm-4 col-sm-offset-4">
<h1>Register</h1>
<hr>
<form action="/register" method="post">
  <input class="form-control" type="text" name="contact[first_name]" placeholder="First Name" />
  <input class="form-control" type="text" name="contact[last_name]" placeholder="Last Name" />
  <input class="form-control" type="email" name="contact[email]" placeholder="Email" />
  <input class="form-control" type="password" name="contact[password]" placeholder="Password" />
  <input class="form-control" type="password" name="contact[password_confirm]" placeholder="Password Confirm" />
  <input class="btn btn-primary" type="submit" value="Register" />

</form>
</div>
